html {
  background-color: #dbd6cf;
}

body {
  font-family: verdana;
}

h1, h2, h3 {
  font-family: 'Bevan', cursive;
  color: #79756f;
}


ol {
  list-style: none;
  padding: 0;
}

a {
  color: #713837;
}

a:hover {
  color: #fe3333;
}

b {
  color: #79756f;
  font-weight: normal;
}

blockquote {
  font-family: georgia, cursive;
  font-size: 1.25rem;
  font-style: italic;

}

.quote {
  color: #79756f;
  font-size: 2rem;
}

cite {

}
