html {
  background-color: #dbd6cf;
}

body {
  font-family: verdana;
}

h1, h2, h3 {
  font-family: 'Bevan', cursive;
  color: #79756f;
}

b {
  color: #79756f;
  font-weight: normal;
}

ol {
  list-style: none;
  padding: 0;
}

a {
  color: #713837;
}

a:hover {
  color: #fe3333;

}
